<div class="mx-auto max-w-[740px] px-8">
  <div class="mb-4 flex max-h-16 justify-around overflow-hidden border-b py-3 text-xl">
    <a aria-current="page" class="transition hover:text-fuchsia-700 hover:dark:text-fuchsia-400 active" href="https://markphilpot.com"
      >posts</a
    ><a class="transition hover:text-fuchsia-700 hover:dark:text-fuchsia-400" href="https://markphilpot.com/about">about</a
    ><a class="transition hover:text-fuchsia-700 hover:dark:text-fuchsia-400" href="https://markphilpot.com/notes">notes</a
    ><a class="transition hover:text-fuchsia-700 hover:dark:text-fuchsia-400" href="https://markphilpot.com/projects">~/projects</a>
  </div>
</div>
