{{ define "main" }}
  <div class="posts mx-auto max-w-[740px] px-8">
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
    {{ $paginator := .Paginate (where .Site.Pages "Type" $contentTypeName) }}

    {{ range $paginator.Pages }}
    <div class="post on-list relative">
      <div class="absolute top-0 left-0 -left-8 h-full w-full w-[100vw] bg-slate-200 dark:bg-[#272640] lg:-left-[2rem] lg:w-[calc(100%+4rem)] lg:rounded-3xl lg:drop-shadow-lg"></div>
      
      <div class="relative my-16 py-8">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      
      <div class="post-meta mb-4 w-full text-right text-sm font-bold uppercase">
        <span class="post-date transition hover:text-fuchsia-700 hover:dark:text-fuchsia-400">
          <a href="{{.RelPermalink}}">{{ .Date.Format ($.Site.Params.DateFormatList | default "January 2, 2006") }}</a>
        </span>
        {{ with .Params.Author }}<span class="post-author">— {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>{{ end }}
        {{ if $.Site.Params.ShowReadingTime }}
          <span class="post-read-time">— {{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
        {{ end }}
      </div>


      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
          {{ end }}
        </span>
      {{ end }}

      {{ if .Params.Cover }}
        {{ if .Params.UseRelativeCover }}
          <img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="post-cover" />
        {{ else }}
          <img src="{{ (urlize .Params.Cover | absURL) }}" class="post-cover" />
        {{ end }}
      {{ end }}

      <div class="post-content prose prose-xl max-w-none prose-code:before:content-none prose-code:after:content-none dark:prose-invert">
		{{ .Content }}        
      </div>
	  {{ if .Truncated }}
<!-- 
	      <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
 -->
      {{ end }}
      </div>
    </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
{{ end }}
